/node_modules
/public/hot
/public/storage
/public/uploads/portfolios
/public/uploads/images/tag
/public/uploads/images/portfolio
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
